body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Warna Putih */
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #E60012; /* Warna Merah Smartfren */
}

.login-container, .register-container, .dashboard-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

button {
    background-color: #E60012; /* Warna Merah Smartfren */
    color: #FFFFFF; /* Warna Putih */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc000f;
}
